		/* h1のCSS */
		h1 {
			margin-left: 50px;
			color: #cccccc;
		}

		/* キャンバスのCSS */
		#coloring {
			border: solid 1px #cccccc;
			margin: 0px 50px;
		}

		/* カラーパレットのCSS */
		#palette {
			margin: 0px 50px;
			padding: 0px;
		}

		/* 色ボタンのCSS */
		.Color {
			margin: 5px;
			padding: 0px;
			width: 30px;
			height: 30px;
			border: solid 1px #CCCCCC;
		}